//
// This file defines additional configuration options that are appropriate only
// for a framework on iOS. This should be set at the target level for each
// project configuration.
//

// Import base framework settings
#include "Common-Framework.xcconfig"

// Import common settings specific to iOS
#include "iOS-Base.xcconfig"

// Code will load on this and later versions of iOS.
IPHONEOS_DEPLOYMENT_TARGET = 8.0
